body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: red;
  padding: 0 20px;
  height: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.hero img{
  /* width: 70%; */
  padding: 0 40px;
  max-width: 100%;
  height: auto;
}

.title{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 0;

  /* justify-content: start; */
  /* align-items: center; */
}

.title > h1{
  font-size: 3rem;
  /* background-color: red; */
  margin-bottom: 15px;
  /* margin: 20px 30px; */
}

.title > p{
  font-size: 1.2rem;
  /* background-color: rgba(0, 0, 0, 0.2); */
  margin: 0;
  margin-bottom: 15px;
  /* margin: 20px 30px; */
  width: 60%;
  /* height: 59px; */
}